.timer {
    font-size: 5em;
}

.progress-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.action-button {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.break-button {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.time-inputs {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.time-input {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.time-input-text {
    font-size: 1.5em;
    margin: 0.5em;
}

.time-input-picker {
    margin-top: 0.25em;
}

.reset-time {
    margin: 1em;
}
